.divContainer{
    display: grid;
    grid-template-columns: repeat(3, 275px);
    gap: 50px;
    margin-left: 250px;
    margin-top: 50px;
}

.loading{
    margin-top: 150px;
}

.headerCard{
    background-color: rgb(255, 255, 78);
}

.divForm{
    margin-left: 215px;
    height: 300px;
    width: 450px;
}

.divFormPedido{
    margin-left: 450px;
    height: 300px;
    width: 450px;
}


.titleForm{
    font-family: 'Lobster', cursive;
}

.theadTable{
    color: wheat;
    background-color: rgba(0, 0, 0, 0.822);

}

.buttonDelete{
    display: flex;
    justify-content: center;
}

.nameRep{
    background-color: black;
    color: wheat;
}