.divContainer{
    display: grid;
    grid-template-columns: repeat(3, 275px);
    gap: 50px;
    margin-left: 250px;
    margin-top: 50px;
}

.loading{
    margin-top: 150px;
}

.headerCard{
    background-color: rgb(255, 255, 78);
}

.divForm{
    margin-left: 215px;
    height: 300px;
    width: 450px;
}

.divFormPedido{
    margin-left: 300px;
    height: 300px;
    width: 450px;
}


.titleForm{
    font-family: 'Lobster', cursive;
}